/*评论区域css*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, select, option, textarea, p, blockquote, th, td{font-family:"Microsoft YaHei","微软雅黑",helvetica,arial,verdana,tahoma,sans-serif;}
body{color:#555;}
a{cursor:pointer;color:#06a7e1;text-decoration:none;}
a:hover{color:#c31;text-decoration:none;}
.commentArea .tab_inner{background:#f4f4f4;height:29px;border:none;border-top:3px solid #e5e5e5;position:relative;margin:0;margin-bottom:15px;}
.commentArea .tab_inner .tabs{top:-3px;left:0;height:32px;}
.commentArea .tab_inner .tabs li{height:32px;border:none;margin-left:0;border-right:2px solid #fff;}
.commentArea .tab_inner .tabs em{font-style:normal;font-weight:normal;font-size:12px;margin:0 3px;}
.commentArea .tab_inner .tabs li a{height:29px;line-height:29px;vertical-align:middle;padding:0 10px;border-top:3px solid #e5e5e5;font-size:14px;color:#333;}
.commentArea .tab_inner .tabs li a:hover{border-color:#09f;background:#e8f5fb;text-decoration:none;}
.commentArea .tab_inner .tabs li a:hover{zoom:1}
.commentArea .tab_inner .tabs li.current a{border-color:#09f;background:#fff;font-weight:bold;outline:none;cursor:default;}
.commentArea .tab_inner .tabs li.current a:hover{border-color:#09f;background:#fff;}
.commentArea .tab_inner .tabs .ico__new{vertical-align:baseline;margin:2px 0 0 3px;position:relative;top:2px;}
.commentArea .nBox .body{border:0;padding:15px 10px;}
.commentArea .qPager{margin:15px 0; height: 40px;}
.commentArea .qPager .turn{float: right;}
.commentArea .qPager .turn li{float: right;padding: 0 3px;}
.commentArea .qPager .turn .pre{width:auto;list-style-type: none; float: left; }
.commentArea .qPager .turn .pre a,
.commentArea .qPager .turn .pre span{padding-left:0;}
.commentArea .qPager .turn .next{float: left;width: auto;list-style-type: none;}
.commentArea .qPager .turn .next a{}
.commentArea .qPager .turn .next span{padding-right:0; }
.commentArea .qPager .pages{float:right;list-style-type: none;}
.commentArea .qPager .pages li{width: auto;float: left;padding:0 4px;}
.commentArea .qPager .pages li span{padding:0 4px;}
.commentArea .qPager .pages li a:hover{border:1px solid #C6C6C6;padding:0 3px;}
.commentArea .commentpop{position:relative;top:0;left:0;height:22px;line-height:22px;padding:0 20px 0 10px;overflow:hidden;background:#fefec6;border:1px solid #fcd85a;margin-bottom:15px;color:#515151;}
.commentArea .commentpop .close{position:absolute;top:5px;right:5px;width:13px;height:13px;overflow:hidden;background:url(/v/img/ico_close.png) no-repeat;}
.commentArea .replyBox .commentpop{margin:15px 0;}
.commentArea .videoComment .null{padding:50px 0 60px 0;text-align:center;}
.commentArea .videoComment .forbid{padding:50px 0 60px 0;text-align:center;}
.commentArea .videoComment .nBox .head{height:20px;border:none;background:#f2f2f2;padding:2px 10px;margin-bottom:10px;}
.commentArea .videoComment .nBox .body{padding:0;}
.commentArea .comment{padding-bottom:10px;margin-bottom:12px;border-bottom:1px solid #e5e5e5;}
.commentArea .commentcon{position:relative;_z-index:1;padding-bottom:2px;}
.commentArea .comments .commentcon{}
.commentArea .comment .userPic{float:left;margin-right:10px;_margin-right:7px;width:50px;}
.commentArea .comment .userPic img{width:50px;height:50px;}
.commentArea .comment .userPic .action{text-align:center;margin-top:5px;}
.commentArea .comment .userPic .action span{color:#bbb;}
.commentArea .comment .s_ico{margin:0 5px;}
.commentArea .comment .bar{color:#909090;height:18px;position:relative;}
.commentArea .comment .bar .comment_rating{text-align:center;color:#ffffff;font-weight:bold;line-height:14px;position:absolute;right:10px;top:2px;_top:3px;width:24px;height:14px;background:url(/v/img/ico__rating.png) no-repeat 0 0;}
.commentArea .comment .con{padding-top:5px;overflow:hidden;zoom:1;}
.commentArea .comment .con img{vertical-align:middle;}
.commentArea .comment .con del{color:#909090;text-decoration:none;}
.commentArea .comment .con .text{margin-bottom:10px;}
.commentArea .comment .con .handle{float:right;width:280px;}
.commentArea .comment .con .panel span{color:#909090;}
.commentArea .comment .con .panel em{font-style:normal;}
.commentArea .comment .con .via{margin-left:15px;white-space:nowrap;}
.commentArea .comment .con .via a{color:#909090;}
.commentArea .comment .reply{position:relative;_height:100%;}
.commentArea .comment .reply .text p{display:inline;}
.commentArea .comment .reply .handle{white-space:nowrap;}
.commentArea .comment .quote{color:#909090;padding-left:15px;margin-top:10px;}
.commentArea .comment .quote .text{display:inline;}
.commentArea .comment .quote .text p{display:inline;}
.commentArea .comment .quote .handle{display:inline;white-space:nowrap;}
.commentArea .commentReply{position:relative;margin-bottom:0;}
.commentArea .commentReply button,
.commentArea .commentReply .btnNormal{white-space:nowrap;}
.commentArea .commentReply button{cursor:pointer;background:url(/v/img/btn_bg_reply.png) no-repeat;width:50px;height:22px;margin-left:5px;border:none;color:#3a3a3a;}
.commentArea .commentReply .username{margin-bottom:5px;}
.commentArea .commentReply textarea{width:600px;height:58px;line-height:20px;padding:4px;border:1px solid #737373;-webkit-box-shadow:inset 0 3px 3px #fff;box-shadow:inset 0 3px 3px #fff;}
.commentArea .commentReply textarea:focus{border-color:#3eabff;}
.commentArea .commentexpand{position:relative;z-index:3;}
.commentArea .defaultext{color:#909090;}
.commentArea .com_reply{float:right;margin-left:15px;vertical-align:top;}
/*-----innerCommentArea----*/
.commentArea .innerCommentArea
{
	width: 950px;
	height: 659px;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-color: #CCFF99;

}
.commentArea
{
	font-family:"微软雅黑"；
	height:659px;
	margin-left:500px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;

}
.tab_top
{
	background-color:#f4f4f4;
}
.tabs
{
	width: 70px;
	background-color: #CCFF99;

}
.pageNumber
{
	float: left;
	padding: 0 4px;
}
.commentAreaBox
{
	background-color: #FFED99;
}